@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: #1a1a1a;
}

nav {
  background-color: rgba(26, 26, 26, 0.6);
  backdrop-filter: blur(60px);
  height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__row {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.nav__logo--wrapper {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f8f8f8;
}

.logo__text {
  color: #f8f8f8;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 7px;
  cursor: default;
  transition: letter-spacing 300ms ease;
}

.logo__text:hover {
  letter-spacing: 10px;
  transition: letter-spacing 600ms ease;
}

.logo__text--thin {
  display: none;
  font-size: 40px;
  font-weight: 200;
  margin-left: 8px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  color: #f8f8f8;
  font-size: 18px;
  letter-spacing: 2px;
  transition: color 300ms ease;
  display: none;
}

.insta {
  font-size: 36px;
  color: #f8f8f8;
  transition: color 300ms ease;
}

.insta:hover {
  color: #d4a017;
}

/* 

VIDEO 

*/

.landing-video__wrapper {
  width: 100%;
  max-height: calc(100vh - 82px);
  aspect-ratio: 16/9;
  pointer-events: none;
  overflow: hidden;
  border-top: 1px solid #b89c5a;
  border-bottom: 1px solid #b89c5a;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(120%);
}

.landing-video {
  width: 300%;
  height: 120%;
  transform: scale(1.1);
}

/* 

LANDING 

*/

#landing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing__img--wrapper {
  width: 100vw;
  filter: brightness(1.1) saturate(0.7) hue-rotate(-7deg);
}

.landing__img {
  width: 100%;
}

.landing__message--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 72px 0 320px 0;
}

.landing__logo--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 150px;
}

.logo__text--primary {
  font-size: 64px;
  line-height: 1;
  letter-spacing: 7px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2px;
}

.logo__text--secondary {
  font-size: 25px;
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
}

.landing__slogan {
  font-size: 20px;
  font-weight: 400;
  max-width: 300px;
  letter-spacing: 1px;
  line-height: 1.25;
  margin-bottom: 24px;
  color: #b89c5a;
  text-align: center;
}

.scroll-arrow {
  display: none;
  width: 3rem;
  height: 3rem;
  color: #f8f8f8;
  animation: float 1200ms infinite ease-in-out alternate-reverse;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(0);
  }
}

.landing__message {
  margin-bottom: 64px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #cccccc;
}

/* 

MEDIA QUERIES 

*/

@media (max-width: 680px) {
  .scroll-arrow {
    display: block;
  }

  .landing__message--wrapper {
    margin: 48px 0 320px 0;
  }
}
